label {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid #fe8019;
}
button {
    margin: 0 10px;
}

.schedule {
    margin: 20px 0;
    table-layout: fixed;
    border-collapse: collapse;
}
.schedule td, .schedule th {
    text-align: center;
    height: 54px;
    width: 100px;
    padding: 0 8px;
    border: 1px solid black;
}
.lesson {
    background: #8ec07c;
}
.lesson.elective {
    background: #fe8019;
}
